{% extends 'base.html' %} {% block content %}

    <div class="container inner">
        {{ad.category_name}}
        <br>
        {{ad.ad_name}}
        <br>
        {% if ad.ad_image =="" %}
        <img src="../static/images/default.png" alt="image">
        
        {% else %}
        <img src="{{ad.ad_image}}" alt="image">
        {% endif %}
        
        <br>
        {{ad.ad_description}}
        <br>
        {{ad.asking_price}}
        <br>
        {{ad.seller_name}}
        <br>
        Phone: {{ad.phone_number}}
        <br>
        County: {{ad.county_name}}
        <br>
        Date Posted: {{ad.date_created}}

        <br>
        <br>

    <form action="{{ url_for('edit_ad', ad_id=ad._id) }}" method="GET"  class="col s12">
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="date_created" value='{{date}}'>Edit Ad
                <i class="material-icons right">edit</i>
             </button>
        </div>
    </form>  
    <form action="{{ url_for('delete_ad', ad_id=ad._id) }}" method="GET"  class="col s12">
        <div class="row">
            <button class="btn waves-effect waves-light red darken-4" type="submit" name="date_created" value='{{date}}'>DELETE AD
                <i class="material-icons right">delete_forever</i>
             </button>
        </div>
    </form>  
    </div>
        {% endblock %}
