{% extends 'base.html' %} {% block content %}

        {{ad.category_name}}
        <br>
        {{ad.ad_name}}
        <br>
        <img src="{{ad.ad_image}}" alt="cdplayer">
        <br>
        {{ad.asking_description}}
        <br>
        {{ad.asking_price}}
        <br>
        {{ad.seller_name}}
        <br>
        {{ad.phone_number}}
        <br>
        {{ad.location}}
        <br>
        {{ad.date_created}}
        <br>
        {{ad.date_last_modified}}
        <br>
        <br>

        {% endblock %}
