{% extends 'base.html' %} {% block content %}

<div class="container">
        <div class="row">
        {% for ad in ads %}
        <div class="col s3">
        <a href="{{url_for('get_ad', ad_id=ad._id)}}">{{ad.ad_name}} <br>
        <!--<img class="home-images" src="{{ad.ad_image}}" alt="{{ad.ad_name}}">-->
        <div style="background-image:url({{ad.ad_image}});" class="image-frame"></div>
        
        </a>
        </div>
        {% endfor %}
        </div>
</div>
        
{% endblock %}